{
    "name": "",
    "version": "",
    "track": "",
    "arch": "",
    "buildtype": "",
    "depends": [
        {
            "name": "",
            "version": "",
            "track": "",
            "arch": "",
            "buildtype": ""
        }
    ]
}
